Babel==2.3.4
decorator==4.0.10
evdev==0.7.0
Jinja2==2.8
lxml==3.5.0
Mako==1.0.4
passlib==1.6.5
Pillow==3.4.1
psutil==4.3.1
psycopg2==2.7.1
pyserial==3.4
Python-Chart==1.39
python-dateutil==2.5.3
pytz==2016.7
pyusb==1.0.0
PyYAML==3.12
reportlab==3.3.0
requests==2.11.1
Werkzeug==0.11.11
